{% extends '_partials/index_clean.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/clean/blog.scss')|raw }}
    {{ css.inline('resources/css/clean/detail.scss')|raw }}
    {{ css.inline('resources/css/code.scss')|raw }}
{% endblock %}

{% block content %}
    <article class="blog">
        <aside>
            &laquo; <a href="/">back</a> — written by <a href="https://twitter.com/brendt_gd" target="_blank" rel="noopener noreferrer">Brendt</a>  on {{ post.date|date("F d, Y") }}
        </aside>

        <h1>
            {{ post.title }}
        </h1>

        {{ post.content|raw }}
    </article>

    {% include '_partials/ad.twig' %}

    <footer>
        <nav class="spacer">
            <a class="cta cta-light" href="/blog/page-1">Back</a>

            {% if _browse.next is defined %}
                <a class="cta" href="/blog/{{ _browse.next.id }}">
                    Next up:
                    {% if _browse.next.teaserTitle is defined %}
                        {{ _browse.next.teaserTitle }}
                    {% else %}
                        {{ _browse.next.title }}
                    {% endif %}
                </a>
            {% endif %}
        </nav>

        <p>
            follow me:
            <a href="https://twitter.com/brendt_gd" target="_blank" rel="noopener noreferrer">Twitter</a> - <a href="/rss" target="_blank" rel="noopener noreferrer">RSS</a> -
            <a href="https://github.com/brendt" target="_blank" rel="noopener noreferrer">GitHub</a>
        </p>

        <p>
            &copy; {{ date()|date('Y') }} stitcher.io
        </p>
    </footer>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    {{ js.async().link('resources/js/hljs.min.js')|raw }}
    {{ js.async().link('resources/js/ads.js')|raw }}

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

