{% extends '_partials/index_clean.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/clean/blog.scss')|raw }}
    {{ css.inline('resources/css/hljs-github.css')|raw }}
{% endblock %}

{% block content %}
    <div class="content__blog">
        <div class="container">
            <article class="blog">
                <aside>
                    Written by <a href="https://twitter.com/brendt_gd" target="_blank" rel="noopener noreferrer">Brendt</a>  on {{ post.date|date("F m, Y") }}
                </aside>

                <h1>
                    {{ post.title }}
                </h1>

                {{ post.content|raw }}
            </article>

            <footer>
                {% if _browse is defined %}
                    <nav class="spacer">
                        {% if _browse.next is defined %}
                            <a class="cta" href="/blog/{{ _browse.next.id }}">
                                Next up:
                                {% if _browse.next.teaserTitle is defined %}
                                    {{ _browse.next.teaserTitle }}
                                {% else %}
                                    {{ _browse.next.title }}
                                {% endif %}
                            </a>
                        {% endif %}
                    </nav>
                {% endif %}

                <nav class="center spacer">
                    <a class="cta cta-light" href="/blog/page-1">Back to overview</a>
                </nav>
            </footer>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
    {{ parent() }}

    {{ js.inline('resources/js/codeClick.js')|raw }}
    {{ js.async.link('resources/js/hljs.min.js')|raw }}
{% endblock %}

