{% extends '_partials/index.twig' %}

{% block meta %}
    {{ parent() }}

    <link rel="canonical" href="https://stitcher.io/blog/{{ post.id }}">
{% endblock %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/detail.scss')|raw }}
    {{ css.inline('resources/css/code.scss')|raw }}
{% endblock %}

{% block content %}
    {% if '"banner"' not in post.content%}
        <div class="patreon">
            <p>
                If you enjoy reading my blog, you could consider supporting me <a href="https://www.patreon.com/brendt" target="_blank" rel="noopener noreferrer">on Patreon</a>.
            </p>
        </div>
    {% endif %}

    <article class="blog">
        <aside>
            &laquo; <a href="/">back</a> — written by <a href="https://twitter.com/brendt_gd" target="_blank" rel="noopener noreferrer">Brent</a> on {{ post.date|date("F d, Y") }}
        </aside>

        {% if post.disableTitle is not defined %}
            <h1>
                {{ post.title }}
            </h1>
        {% endif %}

        {{ post.content|raw }}
    </article>

    <footer>
        <nav class="spacer">
            {% if post.next.url is defined %}
                <a class="cta" href="{{ post.next.url }}">
                    {{ post.next.title }}
                </a>
            {% elseif post.next.id is defined %}
                <a class="cta" href="/blog/{{ post.next.id }}">
                    Next up: {{ post.next.title }}
                </a>
            {% elseif _browse.next is defined %}
                <a class="cta" href="/blog/{{ _browse.next.id }}">
                    Next up:
                    {% if _browse.next.teaserTitle is defined %}
                        {{ _browse.next.teaserTitle }}
                    {% else %}
                        {{ _browse.next.title }}
                    {% endif %}
                </a>
            {% endif %}

            {% if post.next.url is not defined %}
                <a class="cta cta-ghost" href="/blog/starting-a-newsletter">I'm starting a newsletter!</a>
            {% endif %}
        </nav>

        <p>
            Follow me:
            <a href="https://twitter.com/brendt_gd" target="_blank" rel="noopener noreferrer">Twitter</a> —
            <a href="/rss" target="_blank" rel="noopener noreferrer">RSS</a> —
            <a href="/signup" target="_blank" rel="noopener noreferrer">Newsletter</a> —
            <a href="https://github.com/brendt" target="_blank" rel="noopener noreferrer">GitHub</a>
        </p>

        <p>
            &copy; {{ date()|date('Y') }} stitcher.io
        </p>
    </footer>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% if post.disableAds is not defined or post.disableAds == false %}
        <script>
            [].forEach.call(document.querySelectorAll('.adsbygoogle'), function(){
                (adsbygoogle = window.adsbygoogle || []).push({});
            });
        </script>

        {{ js.async().link('resources/js/ads.js')|raw }}

        <script async src="/ads.js"></script>
    {% endif %}
{% endblock %}
