{% extends '_partials/index.twig' %}

{% block meta %}
    {{ parent() }}

    <link rel="canonical" href="https://stitcher.io/blog/{{ post.id }}">
{% endblock %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/detail.scss')|raw }}
    {{ css.inline('resources/css/code.scss')|raw }}

    <link rel="webmention" href="https://webmention.io/stitcher.io/webmention"/>
    <link rel="pingback" href="https://webmention.io/stitcher.io/xmlrpc"/>
{% endblock %}

{% block content %}
    {% if '"banner"' not in post.content %}
        <div class="patreon">
            <div class="wrapper">
                <p>
                    If you enjoy reading my blog, you could consider supporting me
                    <a href="https://www.patreon.com/brendt" target="_blank" rel="noopener noreferrer">on Patreon</a>.
                </p>
            </div>
        </div>
    {% endif %}

    <article class="blog">
        <aside>
            &laquo; <a href="/">back</a> — written by
            <a href="{{ post.author.url ?? 'https://twitter.com/brendt_gd' }}" target="_blank" rel="noopener noreferrer">{{ post.author.name ?? 'Brent' }}</a> on&nbsp;{{ post.date|date("F d, Y") }}
        </aside>

        {% if post.disableTitle is not defined %}
            <h1 class="{% if post.smallTitle is defined %}small-title{% endif %}">
                {{ post.title }}
            </h1>
        {% endif %}

        {% if post.author is defined %}
            <div class="wrapper">
                <div class="author footnotes">
                    <h2>Heads up!</h2>
                    This is a guest post, written by <a href="{{ post.author.url ?? '' }}" target="_blank" rel="noopener noreferrer">{{ post.author.name }}</a>. If you're interested in writing guest posts yourselves, you can find all information on how to <a href="/blog/guest-posts">over here</a>.
                </div>
            </div>
        {% endif %}

        {{ post.content|raw }}

        {% if post.footnotes is defined %}
            <nav class="footnotes">
                <h2>Footnotes</h2>

                {% for footnote in post.footnotes %}
                    <p>
                        <a href="{{ footnote.link }}" title="{{ footnote.title }}">{{ footnote.title }}</a>
                        {% if footnote.description is defined %}{{ footnote.description }}{% endif %}
                    </p>
                {% endfor %}
            </nav>
        {% endif %}

        <div class="author">
            Would you like to stay up to date about new content? Feel free to subscribe to
            <a href="/signup" target="_blank" rel="noopener noreferrer">my newsletter</a> and follow me
            <a href="https://mobile.twitter.com/brendt_gd" target="_blank" rel="noopener noreferrer">on Twitter</a>.
            Noticed a tpyo? You can submit a
            <a href="https://github.com/brendt/stitcher.io" target="_blank" rel="noopener noreferrer">PR</a> to fix it.
            {#            <br><br>#}
            {##}
            {#            Finally, if you find that my content is really valuable to you, you could consider supporting me <a href="https://www.patreon.com/brendt" target="_blank" rel="noopener noreferrer">on Patreon</a>.#}
        </div>
    </article>

    <footer>
        <nav class="spacer">
            {% if post.next.url is defined %}
                <a class="cta" href="{{ post.next.url }}">
                    {{ post.next.title }}
                </a>
            {% elseif post.next.id is defined %}
                <a class="cta" href="/blog/{{ post.next.id }}">
                    Next up:&nbsp; {{ post.next.title }}
                </a>
            {% elseif _browse.next is defined %}
                <a class="cta" href="/blog/{{ _browse.next.id }}">
                    Next up:&nbsp;
                    {% if _browse.next.teaserTitle is defined %}
                        {{ _browse.next.teaserTitle }}
                    {% else %}
                        {{ _browse.next.title }}
                    {% endif %}
                </a>
            {% endif %}
        </nav>

        {% include '_partials/links.twig' %}
    </footer>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% if post.disableAds is not defined or post.disableAds == false %}
        <script>
            [].forEach.call(document.querySelectorAll('.adsbygoogle'), function () {
                (adsbygoogle = window.adsbygoogle || []).push({});
            });
        </script>

        {{ js.async().link('resources/js/ads.js')|raw }}

        <script async src="/ads.js"></script>
    {% endif %}
{% endblock %}
