{% extends '_partials/index.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/overview.scss')|raw }}
{% endblock %}

{% block content %}
    <nav class="overview">
        <header>
            <h1>
                stitcher.io
            </h1>

            <p>
                Hi! My name is Brent, I'm a 24-year old programmer living in Belgium.
                I write about the web, PHP and programming in general.
                I'm also <a href="https://twitter.com/brendt_gd" target="_blank" rel="noopener noreferrer">Twitter</a>.
            </p>

            <div>
                <input
                        type="text"
                        id="search"
                        placeholder="/search…"
                        onfocus="this.placeholder = ''"
                        onblur="this.placeholder = '/search…'"
                />
            </div>

            <p>
                A few examples:
                <span class="search-suggestion" data-search-suggestion="PhpStorm">PhpStorm</span>,
                <span class="search-suggestion" data-search-suggestion="PHP">PHP</span>,
                <span class="search-suggestion" data-search-suggestion="Type">Type</span>
            </p>
        </header>

        <div id="empty-result" class="hidden">
            <h1>
                Oh oh…
            </h1>

            <p>
                Unfortunately, I haven't written about your query yet.
                It might as well be a bogus thing you asked, I don't know…
            </p>

            <p>
                You can try a few other things though:
                <span class="search-suggestion" data-search-suggestion="Cognitive load">Cognitive load</span>,
                <span class="search-suggestion" data-search-suggestion="Performance">Performance</span>,
                <span class="search-suggestion" data-search-suggestion="MySQL">MySQL</span>
            </p>
        </div>

        {% for post in posts %}
            <a
                    href="/blog/{{ post.id }}"
                    {% if post.highlight is defined and post.highlight %}class="cta"{% endif %}
                    data-search="{{ post.title }} {{ post.meta.description }}"
            >
                {% if post.title is defined %}
                    <h1>
                        {{ post.title }}
                    </h1>
                {% endif %}

                <div>
                    {% if post.meta.description is defined and post.meta.description %}
                        <p>
                            {{ post.meta.description }}
                        </p>
                    {% endif %}

                    {% if post.date is defined %}
                        <aside>
                            {{ post.date|date("F d, Y") }}
                        </aside>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </nav>

    <footer>
        <nav>
            {% if _pagination.previous.url %}
                <a href="{{ _pagination.previous.url }}" class="prev cta cta-light">
                    Previous
                </a>
            {% endif %}

            {% if _pagination.next.url %}
                <a href="{{ _pagination.next.url }}" class="next cta cta-light">
                    Next
                </a>
            {% endif %}
        </nav>

        <p>
            follow me:
            <a href="https://twitter.com/brendt_gd" target="_blank" rel="noopener noreferrer">Twitter</a> -
            <a href="/rss" target="_blank" rel="noopener noreferrer">RSS</a> -
            <a href="https://github.com/brendt" target="_blank" rel="noopener noreferrer">GitHub</a>
        </p>

        <p>
            &copy; {{ date()|date('Y') }} stitcher.io
        </p>
    </footer>
{% endblock %}

{% block footer %}
    <script>
        const searchBar = document.querySelector('#search');

        const links = document.querySelectorAll('[data-search]');

        const empty = document.querySelector('#empty-result');

        searchBar.addEventListener('keyup', (event) => {
            if (event.keyCode === 27) {
                cancelSearch();

                return;
            }

            filter(searchBar.value);
        });

        function cancelSearch() {
            searchBar.value = '';

            searchBar.blur();

            filter(null);
        }

        function filter(query) {
            query = query
                ? query.toLowerCase()
                : null;

            let matchCount = 0;

            for (let link of links) {
                if (!query) {
                    matchCount += 1;
                    link.classList.remove('hidden');

                    continue;
                }

                const searchValue = link.getAttribute('data-search');

                if (searchValue.toLowerCase().includes(query)) {
                    matchCount += 1;

                    link.classList.remove('hidden');

                    continue;
                }

                link.classList.add('hidden');
            }

            if (matchCount === 0) {
                empty.classList.remove('hidden');
            } else {
                empty.classList.add('hidden');
            }
        }

        document.addEventListener('keydown', (event) => {
            if (event.key !== '/') {
                return;
            }

            searchBar.focus();

            event.preventDefault();
        });

        const suggestions = document.querySelectorAll('.search-suggestion');

        for (let suggestion of suggestions) {
            suggestion.addEventListener('click', function () {
                const suggestionValue = suggestion.getAttribute('data-search-suggestion');

                searchBar.focus();

                searchBar.value = suggestionValue;

                filter(suggestionValue);
            });
        }
    </script>
{% endblock %}
