{% extends '_partials/index.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
{{ css.inline('resources/css/overview.scss')|raw }}
{% endblock %}

{% block content %}
{#    {% if (overviewTitle ?? null) == 'programming' %}#}
{#        {% include '_partials/ad_scout.twig' %}#}
{#    {% endif %}#}


{#    {% include '_partials/ad_shift.twig' %}#}
{#    {% include '_partials/ad_taxi.twig' %}#}
{#    {% include '_partials/ad_tempest.twig' %}#}

    {% include '_partials/ad_things_book.twig' %}

    <div class="hero">
        <div class="wrapper">
            <h1>
                <span>
                    stitcher.io
                </span>
            </h1>
            <div class="menu">
                <a href="/">Blog</a>
                <a href="/books">Books</a>
                <a href="/mail">Newsletter</a>
                <a href="https://tempestphp.com">Tempest</a>
            </div>

{#            <div class="author spotlight">#}
{#                <a href="https://aggregate.stitcher.io/links/8c7ffa30-1268-4730-b2d8-1d6a48a1d034" class="taxi-book-cta">#}
{#                    <img src="/timeline-taxi-cover.jpg" alt="Timeline Taxi cover" />#}
{#                    <p>#}
{#                        My sci-fi novel, Timeline Taxi, is now published!#}
{#                    </p>#}
{#                </a>#}
{#            </div>#}
        </div>
    </div>

    <article class="blog">
{#        {% include '_partials/header_links.twig' %}#}

    </article>

    <div class="wrapper">

        <nav>
            {% for post in posts %}
                {% if post.hidden is not defined or post.hidden == false %}
                    <a href="{{ detailUrl ?? '/blog' }}/{{ post.id }}" {% if post.highlight is defined and post.highlight %}class="highlight"{% endif %}>
                        {% if post.date is defined %}
                            <span class="post-date">
                                {{ post.date|date("Y-m-d") }}
                            </span>
                        {% endif %}

                        {% if post.title is defined %}
                            <span class="post-title">
                                {{ post.title }}
                            </span>
                        {% endif %}
                    </a>
                {% endif %}
            {% endfor %}
        </nav>
    </div>

    <footer>
        <nav>
            {% if _pagination.previous.url %}
                <a href="{{ _pagination.previous.url }}" class="prev cta cta-light">
                    Previous
                </a>
            {% endif %}

            {% if _pagination.next.url %}
                <a href="{{ _pagination.next.url }}" class="next cta cta-light">
                    Next
                </a>
            {% endif %}
        </nav>

        {% include '_partials/links.twig' %}
    </footer>
{% endblock %}
