{% extends '_partials/index.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/overview.scss')|raw }}
{% endblock %}

{% block content %}
    <nav class="overview">
        <header>
            <h1>
                stitcher.io
            </h1>

            <p>
                Hi! My name is Brent, I'm a 24-year old programmer living in Belgium.
                I write about the web, PHP and programming in general.
            </p>

            <p>
                If you'd like to contact me, you can find me on <a href="https://twitter.com/brendt_gd" target="_blank" rel="noopener noreferrer">Twitter</a>.
            </p>
        </header>
        {% for post in posts %}
            <a href="/blog/{{ post.id }}" {% if post.highlight is defined and post.highlight %}class="cta"{% endif %}>
                {% if post.title is defined %}
                    <h1>
                        {{ post.title }}
                    </h1>
                {% endif %}

                <div>
                    {% if post.meta.description is defined and post.meta.description %}
                        <p>
                            {{ post.meta.description }}
                        </p>
                    {% endif %}

                    {% if post.date is defined %}
                        <aside>
                            {{ post.date|date("F d, Y") }}
                        </aside>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </nav>

    <footer>
        <nav>
            {% if _pagination.previous.url %}
                <a href="{{ _pagination.previous.url }}" class="prev cta cta-light">
                    Previous
                </a>
            {% endif %}

            {% if _pagination.next.url %}
                <a href="{{ _pagination.next.url }}" class="next cta cta-light">
                    Next
                </a>
            {% endif %}
        </nav>

        <p>
            follow me:
            <a href="https://twitter.com/brendt_gd" target="_blank" rel="noopener noreferrer">Twitter</a> - <a href="/rss" target="_blank" rel="noopener noreferrer">RSS</a> -
            <a href="https://github.com/brendt" target="_blank" rel="noopener noreferrer">GitHub</a>
        </p>

        <p>
            &copy; {{ date()|date('Y') }} stitcher.io
        </p>
    </footer>
{% endblock %}

{% block footer %}{% endblock %}
