{% extends '_partials/index.twig' %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
{% endblock %}

{% block content %}
    <header class="banner banner__blog">
        {% include '_partials/curve.twig' %}
    </header>

    <div class="content__blog">
        <div class="container">
            <h1>Blog</h1>

            {% for post in posts %}
                <article class="overview">
                    <a href="/blog/{{ post.id }}" class="link-hidden">
                        {% if post.title is defined %}
                            <h1>
                                {{ post.title }}

                                {% if post.type is defined and post.type == 'piece of code' %}
                                    <span class="badge--piece-of-code">
                                        Piece of Code
                                    </span>
                                {% endif %}
                            </h1>
                        {% endif %}

                        {% if post.date is defined %}
                            <em>{{ post.date|date('Y-m-d') }}</em>
                        {% endif %}

                        <div>
                            <p>
                                {% if post.teaser is defined %}
                                    {{ post.teaser }}
                                {% else %}
                                    {{ post.content|striptags|length > 250 ? post.content|striptags|slice(0, 250)|trim ~ '...' : post.content|striptags }}
                                {% endif %}
                            </p>
                        </div>

                        <span class="link">
                            Read more
                        </span>
                    </a>
                </article>
            {% endfor %}

            <footer>
                <nav>
                    {% if _pagination.previous.url %}
                        <a href="{{ _pagination.previous.url }}">
                            Previous
                        </a>
                    {% endif %}

                    {% if _pagination.next.url %}
                        <a href="{{ _pagination.next.url }}">
                            Next
                        </a>
                    {% endif %}
                </nav>
            </footer>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
