{% extends '_partials/index.twig' %}

{% block meta %}
    {{ parent() }}

    <link rel="canonical" href="https://stitcher.io/books"/>
{% endblock %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/detail.scss')|raw }}
    {{ css.inline('resources/css/code.scss')|raw }}
{% endblock %}

{% block content %}
    <article class="blog">
        <aside>
            &laquo; <a href="{{ post.back ?? overviewUrl ?? '/' }}">back</a>
        </aside>

        <h1>
            <span>{{ title }}</span>
        </h1>
        {{ content|raw }}
    </article>
{% endblock %}
