<?xml version="1.0" encoding="UTF-8"?>

<rss
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
        version="2.0"
        xml:base="https://stitcher.io"
>
    <channel>
        <title>Rant With Brent</title>
        <link>https://stitcher.io</link>
        <description>A no nonsense, straight to the point podcast about programming.</description>
        <language>en</language>
        <copyright>Copyright {{ date()|date('Y') }} stitcher.io</copyright>

        <itunes:author>BrenDt</itunes:author>
        <itunes:subtitle>A no nonsense, straight to the point podcast about programming.</itunes:subtitle>
        <itunes:owner>
            <itunes:email>brent@stitcher.io</itunes:email>
        </itunes:owner>
        <itunes:category text="Technology"/>
        <itunes:image href="https://stitcher.io/resources/img/rant-with-brent/logo.png"/>
        <itunes:explicit>no</itunes:explicit>

        {% for item in items %}
            <item>
                <title>{{ item.title }}</title>
                <link>{{  item.link }}</link>
                <description>{{ item.description }}</description>
                <pubDate>{{ item.date|date('c') }}</pubDate>
                <guid isPermaLink="false">s{{ item.season }}-e{{ item.episode }}</guid>
                <itunes:season>{{ item.season }}</itunes:season>
                <itunes:episode>{{ item.episode }}</itunes:episode>
                <itunes:episodeType>full</itunes:episodeType>
                <itunes:title>{{ item.title }}</itunes:title>
                <itunes:author>BrenDt</itunes:author>
                <enclosure url="{{ item.link }}" type="audio/mpeg" length="0"/>
                <itunes:subtitle>{{ item.description }}</itunes:subtitle>
                <itunes:summary>{{ item.description }}</itunes:summary>
            </item>
        {% endfor %}
    </channel>
</rss>
