
<article class="chapter" id="chapter-{{ chapter.id }}" >
    <div class="header">
        <div class="container">
            <h1 class="chapter-title">
                <a href="#chapter-{{ chapter.id }}">
                    {% if chapter.title is defined %}
                        {{ chapter.title }}
                    {% else %}
                        Chapter {{ chapter.id }}
                    {% endif %}
                </a>

                <a class="back" href="/novel">back</a>
            </h1>
        </div>
    </div>

    <div class="container">
        {{ chapter.content|raw }}
    </div>
</article>