<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{%~ if title is defined %}{{ title }} - {% elseif meta.title is defined %}{{ meta.title }} - {% endif ~%}stitcher.io</title>

    {% block meta %}
    {% if _meta is defined %}
    {{ _meta.render({
        'title': {
            'suffix': ' - stitcher.io',
        },
    })|raw }}
    {% endif %}

    {% if post.meta.image.src is defined %}
        <meta property="og:image" content="https://stitcher.io{{ post.meta.image.src }}"/>
        <meta property="twitter:image" content="https://stitcher.io{{ post.meta.image.src }}"/>
        <meta name="image" content="https://stitcher.io{{ post.meta.image.src }}"/>
        <meta name="twitter:card" content="summary_large_image"/>
    {% elseif post is defined %}
        <meta property="og:image" content="https://stitcher.io/img/meta/{{ post.id }}.png"/>
        <meta property="twitter:image" content="https://stitcher.io/img/meta/{{ post.id }}.png"/>
        <meta name="image" content="https://stitcher.io/img/meta/{{ post.id }}.png"/>
        <meta name="twitter:card" content="summary_large_image"/>
    {% elseif meta.image.src is defined %}
        <meta property="og:image" content="https://stitcher.io{{ meta.image.src }}"/>
        <meta property="twitter:image" content="https://stitcher.io{{ meta.image.src }}"/>
        <meta name="image" content="https://stitcher.io{{ meta.image.src }}"/>
        <meta name="twitter:card" content="summary_large_image"/>
    {% else %}
        <meta name="twitter:card" content="summary"/>
        <meta property="twitter:image" content="https://stitcher.io/resources/img/meta_small.png"/>
    {% endif %}

    <meta name="twitter:creator" content="@brendt_gd"/>
    <link rel="alternate" type="application/rss+xml" title="Stitcher RSS" href="/rss"/>

    {% include('_partials/pwa.twig') %}
    {% endblock %}
    {% endblock %}
</head>
<body>

{% block cookies %}
<div id="cookies-eu-banner" style="display: none;">
    By continuing your visit to this site, you accept the use of cookies.
    <a href="/cookies" id="cookies-eu-more">Read more</a>.
</div>
{% endblock %}

{#<div class="ruler"></div>#}

{% block body %}
    {% block main_menu %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    <script>
    </script>
{% endblock %}

{% block scripts %}{% endblock %}

{{ js.inline('resources/js/cookies.js')|raw }}

</body>
</html>
