<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{%~ if title is defined %}{{ title }} - {% elseif meta.title is defined %}{{ meta.title }} - {% endif ~%}stitcher.io</title>

    {% block meta %}
    {% if _meta is defined %}
    {{ _meta.render({
        'title': {
            'suffix': ' - stitcher.io',
        },
    })|raw }}
    {% endif %}

    {% if meta.image.src is defined %}
        <meta property="og:image" content="https://stitcher.io{{ meta.image.src }}"/>
        <meta property="twitter:image" content="https://stitcher.io{{ meta.image.src }}"/>
        <meta name="image" content="https://stitcher.io{{ meta.image.src }}"/>
        <meta name="twitter:card" content="summary_large_image"/>
    {% elseif post.meta.image.src is defined %}
        <meta property="og:image" content="https://stitcher.io{{ post.meta.image.src }}"/>
        <meta property="twitter:image" content="https://stitcher.io{{ post.meta.image.src }}"/>
        <meta name="image" content="https://stitcher.io{{ post.meta.image.src }}"/>
        <meta name="twitter:card" content="summary_large_image"/>
    {% elseif post is defined %}
        <meta property="og:image" content="https://stitcher.io/blog/{{ post.id }}/meta.png"/>
        <meta property="twitter:image" content="https://stitcher.io/blog/{{ post.id }}/meta.png"/>
        <meta name="image" content="https://stitcher.io/blog/{{ post.id }}/meta.png"/>
        <meta name="twitter:card" content="summary_large_image"/>
    {% else %}
        <meta name="twitter:card" content="summary"/>
        <meta property="twitter:image" content="https://stitcher.io/resources/img/meta_small.png"/>
    {% endif %}

    <meta name="twitter:creator" content="@brendt_gd"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/resources/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/resources/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/resources/img/favicon/safari-pinned-tab.svg" color="#fc3149">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    {% endblock %}
    {% endblock %}
</head>
<body>

{% block cookies %}
<div id="cookies-eu-banner" style="display: none;">
    By continuing your visit to this site, you accept the use of cookies.
    <a href="/cookies" id="cookies-eu-more">Read more</a>.
</div>
{% endblock %}

{#<div class="ruler"></div>#}

{% block body %}
    {% block main_menu %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    <script>
    </script>
{% endblock %}

{% block scripts %}{% endblock %}

{{ js.inline('resources/js/cookies.js')|raw }}

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','/analytics.js','ga');

    ga('create', 'UA-99779066-1', 'auto');
    ga('send', 'pageview');

    new CookiesEuBanner(function () {
    });
</script>



</body>
</html>
