{% extends '_partials/index.twig' %}

{% block meta %}
{% endblock %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/meta.scss')|raw }}
    {{ css.inline('resources/css/code.scss')|raw }}
{% endblock %}

{% block cookies %}
{% endblock %}

{% block content %}
    <div class="meta-container">
        <img src="{{ source('blog/meta/img/tempest.txt') }}"/>
    </div>
{% endblock %}
