{% extends '_partials/index.twig' %}

{% block meta %}
{% endblock %}

{% block head %}
    {{ parent() }}

    {{ css.inline('resources/css/blog.scss')|raw }}
    {{ css.inline('resources/css/meta.scss')|raw }}
    {{ css.inline('resources/css/code.scss')|raw }}

    <style>
        h1 small {
            font-size: .5em;
            margin-top: -10px;
            display: block;
        }

        h1 span,
        .meta-footer > span {
            background-color: #000;
            color:#fff;
        }

        h1 {
            color: #fff;
            font-size: 3em;
        }
    </style>
{% endblock %}

{% block cookies %}
{% endblock %}

{% block content %}
    <div class="meta-container">
        <div class="meta-image">
            <h1>
                <span>
                    PHP version stats
                </span>
                <br>
                <span style="margin-top: .33em; display: inline-block; font-size: 2rem;">
                    {% if post.versionStatsDate ?? null %}
                        {{ post.versionStatsDate | date("F, Y") }}
                    {% else %}
                        {{ post.date | date("F, Y") }}
                    {% endif %}
                </span>
            </h1>
        </div>

        <div class="meta-footer">
            <span>stitcher.io</span>
        </div>
        <img src="{{ source('blog/meta/img/version-stats.txt') }}"/>
    </div>
{% endblock %}
